/* For block equations */
.katex-display {
    color: blue;
}

/* For inline equations */
.katex-inline {
    color: blue;
}

/* For inline equations */
.katex {
    color: blue;
}

/* For shiki */
.shiki {
    background-color: #292D3E !important;
  }
  
  .shiki .comment {
    color: #676E95 !important;
  }
  
  .shiki .string {
    color: #C3E88D !important;
  }
