---
import ListCategories from '@/components/ListCategories'
import ListPosts from '@/components/ListPosts'
import TitlePage from '@/components/TitlePage'
import BaseLayout from '@/layouts/BaseLayout'
import { getPosts } from '@/utils'
import { siteConfig } from '@/data/site.config'
import Pagination from '@/components/Pagination'

// paginate all posts
export async function getStaticPaths({ paginate }) {
	const allPosts = await getPosts()
	const homePageSize = siteConfig.homePaginateSize
	return paginate(allPosts, { pageSize: homePageSize })
}

const { page } = Astro.props

// redefine the url.prev to home page if the current page is the page 2
if (page.currentPage === 2) {
	page.url.prev = '/'
}
---

<BaseLayout title='Home'>
	<TitlePage title="Jinjun Liu's Blog" />
	<ListCategories />

	<div>
		<h2 class='text-lg font-medium tracking-wide text-end'>Page {page.currentPage}</h2>
		<ListPosts FirstBig={page.currentPage === 1} posts={page.data} />
	</div>
	<Pagination page={page} />
</BaseLayout>

<script>
	import { animate } from 'motion'
	const showAnimations = localStorage.getItem('animations') === 'true'

	if (showAnimations) {
		animate(
			'.title',
			{ y: [80, 0], opacity: [0, 1] },
			{
				duration: 2.5,
				opacity: { duration: 3 },

				offset: [0, 0.55, 0.75]
			}
		)
	}
</script>
